body
{
  background: linear-gradient(217deg ,rgb(61, 1, 59) , rgb(6, 0, 42));
}
.DropZone
{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
}
.WindowPanelsContainer
{
  transition: all 0.5s;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg,#64028e88,#7707c8);
  box-shadow: 0px 0px 10px black;
}
.WindowPanelsContainer:hover
{
  width: 300px;
}
.WindowPanelsContainer .Tools
{
  transition: all 0.5s;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg,#9306b0,#53dfffc4);
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* box-shadow: 0px 1px 5px black; */
}
.WindowPanelsContainer:hover .Tools
{
  display: flex;
}
.WindowPanelsContainer .Tools .Tool
{
  transition: all .2s;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.WindowPanelsContainer .Tools .Tool:hover
{
  filter: contrast(2);
}
.WindowPanelsContainer .Tools .Tool:active
{
  transform: scale(1.1);
}