body
{
  background: linear-gradient(217deg ,rgb(61, 1, 59) , rgb(6, 0, 42));
  /* background-image: url("../media/home-bg.jpg");
  background-size: cover;
  height: 100%; */
}

.ButtonPanel
{
   position: absolute;
   top: calc(50% - 100px);
   left: calc(50% - 250px);
   width: 500px;
   height: 200px;
   text-align: center;
}

.ButtonPanel .AnimatedButton
{
   width: 225px;
   height: 200px;
   display: inline-block;
}

.ButtonPanel .AnimatedButton:nth-child(1)
{
   margin-right: 10px;
}

.ButtonPanel .AnimatedButton:nth-child(2)
{
   margin-left: 10px;
}

.ButtonPanel .buttonImg
{
   position: relative;
   top: 25px;
}



.ButtonPanel .AnimatedButton:nth-child(1) .buttonImg:hover
{
   animation: magnify 1s 1 ease-in-out;
}

.ButtonPanel .AnimatedButton:nth-child(2) .buttonImg:hover
{
   animation: tlit 1s 1 ease-in-out;
}

@keyframes tlit
{
   0% { rotate: 0deg; }
   25% {rotate: 10deg; }
   50% {rotate: -10deg;}
}

@keyframes magnify
{
   0% {transform: scale(100%);}
   50% {transform: scale(110%);}
   75% {transform: scale(85%);}
   100% {transform: scale(100%);}
}

.FileBrowse
{
   transition: all .8s;
   opacity: 0;
   position: absolute;
   left: calc(50% - 250px);
   top: calc(50% - 250px);
   width: 500px;
   height: 500px;
   border-radius: 20px;
   border: 2px solid rgb(217, 0, 255);
   background: linear-gradient(217deg ,rgba(98, 0, 190, 0.399) , rgba(60, 27, 93, 0.6));
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.92);
}

.FileBrowse .DirectoryHeader
{
   width: calc(100% - 20px);
   height: 40px;
   background-color: rgba(136, 15, 223, 0.707);
   position: relative;
   top: 10px;
   left: 10px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.FileBrowse .DirectoryHeader .DirectoryTitle
{
   width: 90%;
   height: 100%;
   position: absolute;
   top: 0%;
   left: 10%;
   font-size: large;
   vertical-align: middle;
   background-color: rgba(8, 29, 63, 0.336);
   border-top-right-radius: 15px;
   border-bottom-left-radius: 0px;
}
.FileBrowse .DirectoryHeader .DirectoryTitle span
{
   position: absolute;
   top: 10px;
   left: 40%;
   color: rgb(0, 225, 255);
   font-weight: 700;
   font-family: fantasy;
}
.FileBrowse .DirectoryHeader .UPbutton
{
   position: absolute;
   left: 10px;
   top: 3px;
   cursor: pointer;
}
.FileBrowse .DirectoryContents
{
   position: relative;
   left: 10px;
   top: 20px;
   width: calc(100% - 20px);
   height: 85%;
   background-color: rgba(68, 0, 117, 0.793);
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   overflow-y: scroll;
   scrollbar-width: none;
}
.FileBrowse .DirectoryContents .File
{
   width: calc(100% - 2px);
   height: 20px;
   /* text-align: center; */
   color: rgb(150, 185, 255);
   font-family: monospace;
   font-weight: 600;
   font-size: large;
   padding-top: 5px;
   padding-bottom:5px ;
   background-color: rgba(139, 0, 149, 0.612);
   border-radius: 15px;
   margin-top: 5px;
   overflow: hidden;
   text-overflow: ellipsis;
   /* border-bottom: 1px solid rgb(0, 195, 255); */
}
.FileBrowse .DirectoryContents .File:hover
{
   transition: all .2s;
   cursor: pointer;
   color: rgb(178, 84, 255);
   background-color: rgba(112, 2, 120, 0.753);
}