body
{
  background: linear-gradient(217deg ,rgb(61, 1, 59) , rgb(6, 0, 42));
  /* background-image: url("../media/home-bg.jpg");
  background-size: cover;
  height: 100%; */
}

.ButtonPanel
{
   position: absolute;
   top: calc(50% - 100px);
   left: calc(50% - 250px);
   width: 500px;
   height: 200px;
   text-align: center;
}

.ButtonPanel .AnimatedButton
{
   width: 225px;
   height: 200px;
   display: inline-block;
}

.ButtonPanel .AnimatedButton:nth-child(1)
{
   margin-right: 10px;
}

.ButtonPanel .AnimatedButton:nth-child(2)
{
   margin-left: 10px;
}

.ButtonPanel .buttonImg
{
   position: relative;
   top: 25px;
}

.ButtonPanel .AnimatedButton:nth-child(1) .buttonImg:hover
{
   animation: magnify 1s 1 ease-in-out;
}

.ButtonPanel .AnimatedButton:nth-child(2) .buttonImg:hover
{
   animation: tlit 1s 1 ease-in-out;
}

@keyframes tlit
{
   0% { rotate: 0deg; }
   25% {rotate: 10deg; }
   50% {rotate: -10deg;}
}

@keyframes magnify
{
   0% {transform: scale(100%);}
   50% {transform: scale(110%);}
   75% {transform: scale(85%);}
   100% {transform: scale(100%);}
}